@import url(https://fonts.googleapis.com/css?family=Droid+Serif:400,700,400italic);
@import url(https://fonts.googleapis.com/css?family=Ubuntu+Mono:400,700,400italic);


:root {
  --slide-border-color: #2222268;
  --text: black;
  --text-list1: #555577;
  --text-list2: #88AABB;
  --accent-text: #333399;
  --accent-green: #00664D;
  --accent-red: #A50021;
  --dots-green: #00CCAD;
}

* { 
	font-family: 'Arial'; 
	//color: var(--text); 
}

img{
	max-width: 100%;
}

.hljs-number, .hljs-string, .hljs-comment, .remark-inline-code, .remark-code-line {
	font-family: 'Courier New'; 
}


.remark-code { 
	border-radius: 10px;
}

.remark-inline-code {
	background-color: #EEEEEE; 
	padding: 0 0.2em;
}

.remark-code-line {
    padding: 0 1em;
}

.entete{
	font-size: 1.2em;
	font-weight: bold;
}

.cours{
	font-size: 1.2em;
	margin-top: 2em;
	font-weight: bold;
}

.auteur{
	font-size: 1.2em;
}



.titre{
	color: var(--accent-text);
	font-size: 2.6em;
	font-weight: bold;
	text-shadow: 2px 2px 2px;
	margin-top: 1em;
	margin-bottom: 2em;
}

.boite{
	background: #EEEEEE;
	border-radius: 10px;
	box-shadow: 2px 2px 5px;
	padding-left: 1em;
	padding-right: 1em;
	padding-bottom: 0.2em;
}

.float_right{
	float:right;
}

.float_left{
	float:left;
}

.espace-1{
	margin-top: -1em;
	display: block;
}

.espace{
	height: 1em;
	display: block;
}

.espace1{
	height: 1em;
	display: block;
}

.espace2{
	height: 2em;
	display: block;
}

.image{
    text-align:center;
    margin:auto; 
    display:inline-block;
    text-decoration:none;
    color:black;
}

.caption{
	font-style:italic;
}

.moitie_gauche{
	float: left;
	width:45%;
	display: inline-block;
}

.moitie_droite{
	float: right;
	width:45%;
	display: inline-block;
}

.en_bas_a_droite{
	position:absolute;
	bottom: 0.5em;
	right: 0.5em
}

.bloc_gauche{
	/*float: left;*/
	margin : -1em 0 0 2em;
	display: inline-block;
	vertical-align: middle;
}

.marges_diminuees2{
	margin-left:-2em;
	margin-right:-2em;
}

.marges_minimales{
	margin-left:-4em;
	margin-right:-4em;
}

.marge_gauche2{
	margin-left:2em
}

.bloc_decale{
	margin-left : 8em;
}

.bloc_centre{
	display:block;
	text-align:center;
}
.warning{
	display: block;
	/*flex-direction: row;
	align-items: center;*/
}
.warning::before{
	vertical-align:middle; 
    display: inline-block;
    width: 50px;
    height: 50px;
    margin: 0 1em 0 0;
    content: " ";
    background: url("images/warning.png") no-repeat 0 0;
    background-size: 100%;	
}

.donc{
	display: block;
	/*flex-direction: row;
	align-items: center;*/
}
.donc::before{
	vertical-align:middle; 
    display: inline-block;
    width: 50px;
    height: 50px;
    margin: 0 1em 0 0;
    content: " ";
    background: url("images/donc.svg") no-repeat 0 0;
    background-size: 100%;	
}
table {
    margin:auto;
	border-collapse: collapse;
}

th, td {
    padding: 0.2em 1.2em 0.2em 1.2em;
    border: 1px solid black;
}

ul li {
	//color: var(--text-list1);
	padding-bottom: 5px;
}


ul li li{
	color: var(--text-list1);
}



em{
	color: var(--accent-text);
	font-weight: bold;
}

strong{
	color: var(--accent-red);
}

strong em{
	color: var(--accent-red);
}

.remark-slide-content h1 {
	color: var(--accent-text);
	font-size: 2.2em;
	font-weight: bold;
}

h4 {
	padding-top:0.6em;
}